
@font-face {
    font-family: 'helveticaneuebold';
    src: url('../fonts/helvetica_neu_bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica_neu_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../fonts/helveticaneue_medium-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneueregular';
    src: url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneueheavy';
    src: url('../fonts/helveticaneuehv-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuehv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{ font-family: 'helveticaneueheavy';margin: 0;}
.container {max-width: 1170px;margin: 0 auto;padding-left: 15px;padding-right: 15px;box-sizing: border-box;	width: 100%;}
figure, figarcaption {	margin: 0;}
ul {padding-left: 0;}
li{list-style:none;}
a{text-decoration: none;}
h1{font-size: 57px; color: #ffffff;}
h2{font-size: 26px; color: #ee3124;}
h3{font-size: 24px; color: #1e384b;}
h4{font-size: 18px; color: #273c4e;}
p{font-size: 18px;color: #1e384b;}
p span{font-size: 26px; line-height: 36px; color: #273c4e;}
/**header**/
header {
	background-image: url(../images/banerone.jpg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 600px;
	height: auto;
	background-position: right center;
}

header .row {
	padding-top: 25px;
	width: 100%;
}
header .row .menu_bar {
    display: flex;
    display:-webkit-flex;
	width: 100%;
}
header .row .menu_bar .logo {
    width: 30%;
    align-self: center;-webkit-align-self: center;
        margin-top: 6px;
}
header .row .menu_bar .logo figure a {
	display: block;
}
header .row .menu_bar .logo figure a img {
	width: 172px;
	height: 20px;
}

header .row .menu_bar .menu {
	width: 70%;
}
header .row .menu_bar .menu nav ul li {
	display: inline;
}
header .row .menu_bar .menu nav ul li a {
	color: white;
	font-size: 17px;
	padding: 0 7px;position: relative;
}
header .row .menu_bar .menu nav ul li a::after {
	position: absolute;
	background: white;
	content: "";
	width: 0;
	height: 2px;
	left: 0;
	bottom: -7px;
	right: 0;
	margin: 0 auto;
	transition: all ease-in .4s;
}
header .row .menu_bar .menu nav ul li a:hover::after {
	width: 100%;
	transition: all ease-out 0.5s;
}
.baner-text {
	padding-top: 120px;
}
#secure_network {
	width: 100%;
	position: relative;
	margin-top: -143px;
	padding-top: 180px;
	z-index: 999;
}
#secure_network::after {
	position: absolute;
	background-image: url(../images/shape2.png);
	content: "";
	height: 171px;
	width: 100%;
	background-size: 106% 200%;
	top: 9px;
	background-repeat: no-repeat;
}
#secure_network .row {
	width: 100%;
}
#secure_network .row .secure-text {
	width: 100%;
    display: block;
    text-align: center;
}
#secure_network .secruty_row {
	width: 100%;
	display: block;
	margin-top: 62px;
}
#secure_network .secruty_row .three_box {
	width: 100%;
	display: flex;  display:-webkit-flex; justify-content: space-between;
    -webkit-justify-content: space-between;

}
#secure_network .secruty_row .three_box .risks {
	text-align: center;
	width: 32%;
}
#secure_network .secruty_row .three_box .risks figure img {
	width: 125px;
	height: 125px;
    object-fit: cover;
    padding-top: 12px;
}
#secure_network .secruty_row .three_box .risks h2 {
	margin-bottom: 0;
}
#secure_network .secruty_row .three_box .risks p {
	margin-top: 0;
	padding-left: 10px;
	padding-right: 10px;
}
#secure_network .secruty_row .three_box .risks:hover figure img {
	transform: rotate(-360deg);
	transition: all ease-in-out 0.9s;
}




#ctap {
	display: block;
	overflow: hidden;
	margin-top: 23px;
}
#ctap .row {
	width: 100%;
	display: block;
}
#ctap .row .two_box {
	display: flex;
	width: 100%;
}
#ctap .row .two_box .text {
	width: 45%;
	background: #edf4f5;
	padding-right: 67px;
    padding-left: 88px;
    padding-top: 20px;
}
#ctap .row .two_box .ctap_image {
	width: 50%;
}
#ctap .row .two_box .ctap_image figure img {
	width: 100%;
	height: 362px;
	object-fit: cover;
}
#cyber {
	width: 100%;
	display: block;
	overflow: hidden;
	background: #273c4e;
	padding-top: 21px;padding-bottom: 20px;
}
#cyber .cyber-hading {
	text-align: center;
}
#cyber .cyber-hading h2 {
	color: white;
}
#cyber .threat {
    display: flex;
    display:-webkit-flex;
    margin-top: 37px;
    width: 100%;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
#cyber .threat .box {
	width: 31%;
	text-align: center;
	background: white;
	margin: 0 15px;
}
#cyber .threat .box figure img {
	width: 100%;
	height: 202px;
	object-fit: cover;
}
#cyber .threat .box .text {
	padding-left: 10px;
	padding-right: 10px;
}
#cyber .threat .box .text h2 {
	margin-top: 12px;
	margin-bottom: 0;
	color: #273c4e;
}
#cyber .threat .box .text p {
	margin-top: 10px;
}
#cyber .threat .box .text a {
	background: #E41B13;
	color: white;
	padding: 12px 52px;
	margin-top: 20px;
	display: block;
	margin-bottom: 17px;
	position: relative;
	z-index: 9;
}
#cyber .threat .box .text a::after {
	position: absolute;
	background: #273C4E;
	width: 0;
	content: "";
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	z-index: -1;
}
#cyber .threat .box .text a:hover::after {
	width: 100%;
	transition: all ease-in-out 0.5s;
}




#form {
	width: 100%;
	display: block;
	padding-top: 62px;
	padding-bottom: 40px;
}
#form form {
	width: 100%;
	display: flex;  display:-webkit-flex;
    flex-wrap: wrap;   -webkit-flex-wrap: wrap;
    justify-content: space-evenly;  -webkit-justify-content: space-evenly;
}
#form form .form_group {
	width: 50%;
}
#form form .form_group {
	width: 47%;
	display: flex;
    flex-direction: column;
    display:-webkit-flex;
	-webkit-flex-direction: column;
}
#form form .form_group label {
	font-size: 16px;
	margin-bottom: 9px;
	margin-top: 8px;
	color: #273c4e !important;
}
#form form .form_group input {
	background: white;
	border: solid 1px;
	padding: 11px 10px;
}
#form form  .submit {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
.submit button {
	background: #E41B13;
	color: white;
	padding: 13px 65px;
	border: 0;
	font-size: 18px;
	cursor: pointer;
	position: relative;
	z-index: 99;
}
#form form  .submit button::after {
	position: absolute;
	background: #273C4E;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
    right: 0;
    left: 0;
	transition: all ease-in-out 0.6s;
	margin: 0 auto;
	z-index: -1;
}
#form form .submit button:hover::after {
	width: 100%;
	transition: all ease-in-out 0.6s;

}


footer {
	margin-top: 34px;
}
footer .row {
	border-top: solid 1px #8597a3;
    padding-top: 45px;
    display: flex;
    -webkit-display: flex;
    padding-bottom: 25px;
}
footer .footer_logo {
	width: 50%;
}
footer .footer_logo img {
	width: 234px;
	height: 30px;
}
footer .social {
	width: 50%;
	text-align: end;
}
footer .social ul {
	margin-top: 0;
	margin-bottom: 0;
}
footer .social ul li {
	display: inline;
	padding: 0 5px;
}
footer .social ul li:hover {
	opacity: 0.8;
}